#faqs {
  width: 100%;
  height: 100%;
  padding: 110px 0 70px;
  position: relative;
  background-color: #0087ac;
  
}

/* border */
.faqs-border {
  position: absolute;
  width: 100%;
  top: 0;
  object-fit: cover;
}

/* content */
.accordion-button:not(.collapsed) {
  color: #fff !important;
  background-color: transparent !important;
  border-bottom: 1px solid whitesmoke;
  box-shadow: none !important;
}

.accordion-button:focus {
  border-color: white !important;
  box-shadow: none !important;
}

.accordion-item,
.accordion-button {
  background-color: transparent !important;
  color: #fff;
}

.accordion-item {
  border-bottom-color: white;
}

.accordion-button::after {
  display: none;
}
