#hero {
    background-color: #0a8c7e;
}

.hero-img-wrap {
    margin-left: -5em !important;
}

.hero-img {
    width: 60%;
}

.hero-logo {
    width: 58%;
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .shifting-rascals {
        min-height:100vh;
    }
}