#hero {
    background-color: #0a8c7e;
}

.hero-img-wrap {
    margin-left: -5em !important;
}

.hero-img {
    width: 70%;
}

.hero-logo {
    width: 60%;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .shifting-rascals {
        min-height:100vh;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}