.mq-nav-logo {
  width: 60px;
}

.mq-nav-logo-mobile {
  width: 80%;
  margin: 0 auto 30px;
}

.container {
  position: relative;
}

#mq-nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 30px;
  width: 90%;
  background-color: white;
    border-radius:0 0 20px 20px;
  /*-webkit-clip-path: polygon(*/
  /*  50% 0%,*/
  /*  100% 0,*/
  /*  100% 73%,*/
  /*  98.7% 100%,*/
  /*  1.3% 100%,*/
  /*  0 73%,*/
  /*  0 0*/
  /*);*/
  /*clip-path: polygon(*/
  /*  50% 0%,*/
  /*  100% 0,*/
  /*  100% 73%,*/
  /*  98.7% 100%,*/
  /*  1.3% 100%,*/
  /*  0 73%,*/
  /*  0 0*/
  /*);*/
  z-index: 10;
}

#mq-nav li {
  list-style: none;
}

#mq-nav li:not(:first-child) {
  /*margin-left: 20px;*/
}

#mq-nav li a {
  padding: 6px 10px;
  text-decoration: none;
  color: black;
}

.mq-nav-discord {
  background-color: black;
  color: white;
}

.mq-nav-discord:hover,
.mq-nav-discord:focus {
  background-color: #333;
  color: white;
}

.select-mustachio-to-mint {
  background-color: #1c5191;
  transition: 0.2s;
}

.select-mustachio-to-mint:hover {
  background-color: #194a85;
  transition: 0.2s;
}

#select-mint-method .form-check-input {
  background-color: #ffffff;
  border-color: #ffffff;
  transition: 0.4s;
}

#select-mint-method .form-check-input:checked {
  background-color: #ffb800;
  border-color: #ffb800;
  transition: 0.4s;
}