.gmfrens-bg-color {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#635383), color-stop(90%, #e76993), color-stop(100%, #f38b9a));
    background-image: linear-gradient(180deg, #635383, #e76993 90%, #f38b9a 100%);
}

@media (min-width: 1400px) {
    .font-size-xxl-300 {
        font-size:3em;
    }
}