.about-rascals-img, 
.about-rascals-img .rascals-gif {
    border-radius: 50%;
    width: 100%;
}

.about-rascals-image {
    aspect-ratio: 1/1;
}

.about-rascals-img .rascals-gif {
    object-fit: fill;
}

.os-logo {
    margin-top: -8px;
    width: 30px;
    margin-right: 5px;
}