@import url(media-queries.css);

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 184, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(162, 182, 52, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(162, 182, 52, 0);
  }
}

.background-image-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-color-1 {
  background-color:#ff9f42;
}

.arch-logo {
  width: 30%;
  margin: 0 auto 1em;
}

.arch-text {
  width: 45%;
  margin: 0 auto 1em;
}

.arch-play-btn {
  margin-bottom: 2em;
  width: 80px;
  height: 80px;
  background-color: #ff9f42;
  border: 5px solid white;
  border-radius: 50%;
  padding-left: 1em;
  -webkit-box-shadow: 0 0 8px 3px #fff;
  box-shadow: 0 0 8px 3px #fff;
}

.no-border .modal-content {
  border: none !important;
}

.video-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.video-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-close-btn {
  position: absolute;
  top: -50px;
  right: 0px;
  background-color: #ff9f42;
  border-radius: 50%;
}

.video-close-btn:hover,
.video-close-btn:focus {
  background-color: #ff8e31;
}

.modal-body-style {
  background-color: #1c5091; 
  border-radius: 0.2rem; 
  border: 3px solid white;
}

.modal-close-icon {
  top: 15px;
  right: 20px;
  z-index: 5;
}

.opacity-1 {
  opacity: 1 !important;
}

.opacity-half {
  opacity: 0.5;
}