/* MAX WIDTHS */
@media (max-width: 1400px) {
  .updates-thumbnail,
  .sneakpeek-thumbnail {
    height: 220px !important;
  }

  .feat-2d {
    width: 17% !important;
    left: 30% !important;
  }

  .feat-3d {
    width: 24% !important;
    right: 25% !important;
  }

  .feat-mustachio {
    top: 11% !important;
  }

  .feat-title {
    width: 80% !important;
  }

  .feat-sub {
    width: 90% !important;
  }

  .updates-thumbnail,
  .sneakpeek-thumbnail {
    aspect-ratio: 16/9;
    height: auto !important;
  }
}

@media (max-width: 1200px) {
  .feat-icon {
    width: 85% !important;
  }

  .feat-2d {
    width: 23% !important;
    left: 25% !important;
  }

  .feat-3d {
    width: 33% !important;
    right: 17% !important;
  }

  .feat-compass {
    width: 55% !important;
  }

  .feat-mustachio {
    width: 40% !important;
    top: 14% !important;
  }

  .feat-title {
    width: 90% !important;
  }

  .feat-sub {
    width: 100% !important;
  }

  .updates-thumbnail,
  .sneakpeek-thumbnail {
    height: 245px !important;
  }

  .footer-item:not(:last-child) {
    margin-right: 60px !important;
  }
}

@media (max-width: 992px) {
  .feat {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .feat-icon {
    width: 100% !important;
  }

  .feat-2d {
    width: 28% !important;
    left: 17% !important;
  }

  .feat-3d {
    width: 40% !important;
    right: 12% !important;
  }

  .feat-compass {
    width: 66% !important;
  }

  .feat-mustachio {
    width: 50% !important;
    top: 12% !important;
  }

  .feat-title {
    width: 100% !important;
  }

  .feat-sub {
    width: 100% !important;
  }

  .updates-thumbnail,
  .sneakpeek-thumbnail {
    /* height: 190px !important; */
    aspect-ratio: 16/9;
    height: auto !important;
  }

  .team-sub {
    width: 85% !important;
  }

  .rewards-img {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .mobile-logo {
    width: 350px !important;
  }

  #features .col-12 {
    padding-top: 60px !important;
  }

  #features .col-12:first-child {
    padding-top: 110px !important;
  }

  #features .col-12:last-child {
    padding-bottom: 180px !important;
  }

  .feat {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .feat-icon {
    width: 320px !important;
  }

  .feat-2d {
    width: 100px !important;
    left: 150px !important;
    top: 120px !important;
  }

  .feat-3d {
    width: 120px !important;
    right: 130px !important;
    top: 60px !important;
  }

  .feat-compass {
    width: 220px !important;
    top: 100px !important;
  }

  .feat-mustachio {
    width: 150px !important;
    top: 60px !important;
  }

  .feat-title {
    width: 50% !important;
  }

  .feat-sub {
    width: 60% !important;
  }

  #features,
  #faqs,
  #sneakpeek {
    overflow-x: hidden;
  }

  .sneakpeek-bot {
    bottom: 0 !important;
  }

  .feat-border,
  .sneakpeek-border,
  .faqs-border {
    width: 150% !important;
  }

  #updates {
    padding-top: 110px !important;
  }

  .updates-border,
  .team-border {
    width: 27% !important;
  }

  .roadmap-logo {
    width: 350px !important;
  }

  .team-sub {
    width: 100% !important;
  }

  .team-wrap {
    width: 85% !important;
  }

  .team-thumbnail {
    height: 500px !important;
  }

  .team-name {
    font-size: 1.3em !important;
  }

  .rewards-img {
    width: 70% !important;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .mobile-logo {
    width: 250px !important;
  }

  .bm-burger-button {
    width: 26px !important;
    height: 20px !important;
  }

  .mq-nav-logo-mobile {
    width: 60% !important;
    margin-bottom: 20px !important;
  }

  .bm-item {
    font-size: 0.8em !important;
    padding: 0.8em 0 !important;
  }

  .bm-item-list {
    padding: 0.5em !important;
  }

  .mq-nav-discord {
    padding: 0.5em !important;
  }

  .text-3 {
    font-size: 1em !important;
    width: 70% !important;
  }

  #features .col-12 {
    padding-top: 60px !important;
  }

  #features .col-12:first-child {
    padding-top: 40px !important;
  }

  #features .col-12:last-child {
    padding-bottom: 140px !important;
  }

  .feat {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .feat-icon {
    width: 320px !important;
  }

  .feat-2d {
    width: 90px !important;
    left: 28% !important;
  }

  .feat-3d {
    width: 120px !important;
    right: 26% !important;
  }

  .feat-title {
    width: 180px !important;
    font-size: 1.3em !important;
  }

  .feat-sub {
    width: 200px !important;
    font-size: 1em !important;
  }

  .mq-table-content th {
    font-size: 1.3em !important;
  }

  .mq-table-types-sub,
  .mq-table-content td {
    font-size: 1em !important;
  }

  #features,
  #faqs,
  #sneakpeek {
    overflow-x: hidden;
  }

  .feat-border,
  .sneakpeek-border,
  .faqs-border {
    width: 1200px !important;
  }

  #updates,
  #team {
    padding-top: 110px !important;
  }

  .updates-title,
  .rewards-title,
  .mq-table-title,
  .mq-table-content-title,
  .update-title,
  .sneakpeeks-title,
  .sneakpeek-title,
  .updates-type {
    font-size: 1.2em !important;
  }

  .updates-border,
  .team-border {
    width: 35% !important;
  }

  .updates-thumbnail,
  .sneakpeek-thumbnail {
    aspect-ratio: 16/9;
    height: auto !important;
  }

  .roadmap-logo {
    width: 60% !important;
  }

  .roadmap-title {
    font-size: 1.5em !important;
  }

  .q-column p {
    font-size: 1.5em !important;
  }

  .q-content {
    font-size: 1em !important;
  }

  .team-title {
    font-size: 1.4em !important;
  }

  .team-sub {
    font-size: 1em !important;
  }

  .team-wrap {
    width: 100% !important;
  }

  .team-thumbnail {
    height: 530px !important;
  }

  .team-name {
    font-size: 1.3em !important;
  }

  .mq-table-check {
    width: 22px !important;
  }

  .faq-title,
  .rewards-title,
  .sneakpeeks-title {
    font-size: 1.2em !important;
  }

  .accordion-button {
    font-size: 0.7em !important;
  }

  .accordion-body p,
  .accordion-body li,
  .accordion-body a {
    font-size: 1em !important;
  }

  #cta p {
    font-size: 1.2em !important;
  }

  #cta button {
    font-size: 1.2em !important;
  }

  .footer-item svg {
    font-size: 2em !important;
  }

  .footer-item:not(:last-child) {
    margin-right: 10% !important;
  }

  .accordion-body {
    word-wrap: break-word;
  }

  .bm-burger-button {
    right: 25px !important;
  }
}

@media (max-width: 480px) {
  .mobile-logo {
    width: 180px !important;
  }

  .feat-2d {
    left: 23% !important;
  }

  .feat-3d {
    right: 20% !important;
  }

  .team-thumbnail {
    height: 400px !important;
  }

  .team-name {
    font-size: 1.1em !important;
  }

  .rewards-img {
    width: 80% !important;
  }
}

@media (max-width: 400px) {
  .feat-icon {
    width: 300px !important;
  }

  .feat-2d {
    width: 80px !important;
    left: 70px !important;
  }

  .feat-3d {
    width: 100px !important;
    right: 70px !important;
  }

  .feat-compass {
    width: 200px !important;
  }

  .feat-mustachio {
    width: 140px !important;
    top: 60px !important;
  }

  .team-thumbnail {
    height: 320px !important;
  }

  .team-name {
    font-size: 1em !important;
  }

  .roadmap-logo {
    width: 70% !important;
  }

  .rewards-img {
    width: 90% !important;
  }
}

/* MIN WIDTH */
@media (min-width: 1401px) {
  .updates-thumbnail,
  .sneakpeek-thumbnail {
    aspect-ratio: 16/9;
    height: auto !important;
  }
}

@media (min-width: 1500px) {
  #features {
    padding-top: 4% !important;
    padding-bottom: 4% !important;
  }

  #faqs {
    padding-top: 9% !important;
    padding-bottom: 5% !important;
  }

  #sneakpeek {
    padding-top: 9% !important;
    padding-bottom: 7% !important;
  }
}

/* MIN HEIGHTS */
@media (min-height: 1080px) {
  .banner-img {
    margin-top: 20px !important;
    width: 900px !important;
  }

  .mustachio-wrap {
    margin-top: 100px !important;
  }

  .logo {
    margin-top: 70px !important;
    width: 500px !important;
  }

  .banner-content {
    margin-top: 125px !important;
  }

  .banner-content p {
    font-size: 1.8em !important;
  }

  .text-2 {
    width: 300px !important;
  }

  .text-3 {
    font-size: 1.8em !important;
    width: 550px !important;
  }

  .join-discord {
    font-size: 1.8em !important;
    width: 450px !important;
  }
}

@media (min-height: 1160px) {
  .banner-img {
    margin-top: 50px !important;
    width: 920px !important;
  }

  .mustachio-wrap {
    margin-top: 120px !important;
  }

  .logo {
    margin-top: 70px !important;
    width: 500px !important;
  }

  .banner-content {
    margin-top: 160px !important;
  }
}

@media (min-height: 1250px) {
  .banner-img {
    margin-top: 70px !important;
    width: 991px !important;
  }

  .mustachio-wrap {
    margin-top: 130px !important;
  }

  .logo {
    width: 550px !important;
    margin-top: 100px !important;
  }

  .banner-content {
    margin-top: 220px !important;
  }
}

@media (min-height: 1350px) {
  .banner-img {
    margin-top: 30px !important;
    width: 1080px !important;
  }

  .mustachio-wrap {
    margin-top: 130px !important;
  }

  .logo {
    width: 600px !important;
    margin-top: 100px !important;
  }

  .banner-content {
    margin-top: 220px !important;
  }
}

@media (min-height: 1400px) {
  .banner-img {
    margin-top: 70px !important;
    width: 1080px !important;
  }

  .mustachio-wrap {
    margin-top: 170px !important;
  }

  .logo {
    width: 650px !important;
    margin-top: 90px !important;
  }

  .banner-content {
    margin-top: 250px !important;
  }

  .banner-content p {
    font-size: 2em !important;
  }

  .text-2 {
    width: 350px !important;
  }

  .text-3 {
    font-size: 2em !important;
    width: 650px !important;
  }

  .join-discord {
    font-size: 2em !important;
  }
}

@media (min-height: 1520px) {
  .banner-img {
    margin-top: 100px !important;
    width: 1200px !important;
  }

  .logo {
    margin-top: 130px !important;
  }

  .banner-content {
    margin-top: 340px !important;
  }

  .mustachio-wrap {
    margin-top: 230px !important;
  }
}
