.banner,
.banner-2 {
  width: 100%;
  position: relative;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-img,
.logo,
.banner-content,
.landscape,
.text-3,
.banner-2-btn {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.portal-wrap {
  width: 655px;
  top: 80px;
  margin: auto;
  z-index: 1;
}

.mustachio-wrap {
  width: 655px;
  top: 230px;
  margin: auto;
  z-index: 2;
}

.logo {
  width: 410px;
  margin: 0 auto;
  top: 100px;
  z-index: 3;
}

.banner-content {
  z-index: 3;
  top: 355px;
  margin: 0 auto;
}

.text-1 {
  width: 100%;
}

.text-2 {
  width: 250px;
  margin: 0 auto;
}

.text-3 {
  width: 420px;
  margin: 0 auto;
  top: 180px;
}

.landscape {
  bottom: 0;
}

.banner-2 {
  background-position: bottom;
}

.banner-2 button {
  top: 340px;
}
